page {
  height: 100%;
  background-color: #eee;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 200rpx 0;
  box-sizing: border-box;
}

/* this rule will be remove */
* {
  transition: width 2s;
  -moz-transition: width 2s;
  -webkit-transition: width 2s;
  -o-transition: width 2s;
}

.weui-navbar-slider-on {
  background-color:#45b5fc;
}

.weui-media-box {
  padding: 20rpx;
}

.weui-media-box__title {
  font-size: 28rpx;
}

.weui-panel {
  margin: 0;
}

.weui-cell {
  font-size: 30rpx; 
  padding: 20rpx 30rpx;
}

.weui-cell .weui-cell__ft {
  padding-right: 15rpx;
  font-size: 28rpx;
}

.weui-cell.weui-cell_access.weui-cell_link .head {
  font-size: 30rpx;
  line-height: 1;
  color: #282828;
}

.weui-cell.weui-cell_access.weui-cell_link .weui-cell__bd {
  text-align: right;
}


.navigator-hover {
  background-color: #fff;
  opacity: 1;
}